<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/add.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/modulelogo.png" alt="Logo" class="logo">
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto nav-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">The Search</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/playerinfo">
                                <img src="<%= user.playerAvatar %>" alt="Icon" class="icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="profile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="icons">
                        <img src="/images/profile.png" alt=""> <br>
                        <a href="/playerinfo">PROFILE</a>
                    </div>
                    <div class="icons">
                        <img src="/images/levels.png" alt=""> <br>
                        <a href="/levels">LEVELS</a>
                    </div>
                    <div class="icons">
                        <img src="/images/chapters.png" alt=""> <br>
                        <a href="/chapters"><u>CHAPTERS</u></a>
                    </div>
                    <div class="icons icon-active">
                        <img src="/images/levels.png" alt=""> <br>
                        <a href="/add">SHARE</a>
                    </div>
                </div>
                    <div class="col-md-10 info-section" style="text-align: left;">
                        <div class="container-fluid">

                            <h1>SHARE YOUR PROJECT</h1>
                            <p style="color: #FFD977;">Working on an AI project? Share it with the Purdue community and showcase your work on our platform.</p>


                            <div class="row">
                                <div class="col-md-6 left-form">
                                    <div class="form-group">
                                        <label for="title">Project Title
                                        </label>
                                        <textarea class="form-control" id="title" rows="3"></textarea>
                                    </div>
                
                                    <div class="form-group">
                                        <label for="summary">Brief Summary</label>
                                        <textarea class="form-control" id="summary" rows="3"></textarea>
                                    </div>
                                    
                                </div>
                        
                                <div class="col-md-6 right-form">
                                    <div class="form-group">
                                        <label for="sideBySideImage">Project Poster</label>
                                        <div class="container img-container">
                                            <input type="file" id="playerImage" name="playerImage" accept="image/*">
                                        </div>
                                    </div>

                                    <div>
                                        <button id="share-submit" class="btn btn-warning float-right">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
        </div>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('share-submit').addEventListener('click', function() {
            const projectTitle = document.getElementById('title').value;
            const summary = document.getElementById('summary').value;
            const playerImage = document.getElementById('playerImage').files[0];

            const formData = new FormData();
            formData.append('projectTitle', projectTitle);
            formData.append('summary', summary);
            formData.append('playerImage', playerImage);


            fetch('/add/submit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.alert("Your submission has been recorded! We will review it before publishing it live to the Community Section. Thank you.");
                window.location.href = '/levels';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>

</body>
</html>
