<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI PUZZLE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/cutscene-styles.css">
    <link rel="stylesheet" href="/css/crossword_styles.css">
</head>
<body>

    <section class="cutscene">
        <div class="container-fluid">
            <div class="logo-container">
                <h2>TRAINING MODULE 03</h2>
                <h1>AI PUZZLE</h1>
            </div>
        </div>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <video id="vid-1" width="320" height="240" class="hidden">
                        <source src="/images/03.webm" type="video/webm">
                    </video>

                    <button id="playPauseBtn">
                        <img src="/images/Play Button_Jarvis.png" alt="">
                    </button>
                </div>
                <div id="clickheretobegin" class="col-md-10">
                    <img src="/images/03 Onboarding.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="level hidden">
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="/images/modulelogo.png" alt="Logo" class="logo">
                    </a>
                    <div class="title">
                        <h1>03</h1>
                        <h1>AI PUZZLE</h1>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/playerinfo">
                                    <img src="<%= user.playerAvatar %>" alt="Icon" class="icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    
        <div class="container-fluid crossword-container">
            <div class="row">
                <div class="col-md-8">
                    <div class="crossword" id="crossword">
                        <!-- Crossword grid will be generated here -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="clues" id="clues">
                        <h4>Across</h4>
                        <ul>
                            <li>1. One of the earliest intelligent tutoring systems developed by Jaime Carbonell in 1970 to teach South American geography.</li>
                            <br>
                            <li>4. The founder of OpenAI, who founded ChatGPT.</li>
                            <br>
                            <li>6. A key term used for a concept in AI-driven education that tailors learning experiences to individual needs.</li>
                            <br>
                            <li>7. An AI chat-bot developed by Google.</li>
                            <br>
                            <li>10. An approach in machine learning inspired by the brain's structure, consisting of interconnected nodes for learning and processing data.</li>
                            <br>
                            <li>12. An AI-powered canvas for digital artists that instantly stylizes and renders early concept sketches.</li>
                            <br>
                            <li>13. Terminology for large and complex datasets that AI systems use to train models and make predictions.</li>
                            <br>
                        </ul>
                        <h4>Down</h4>
                        <ul>
                            <li>2. An application of AI in education that automatically assesses quizzes and exams.</li>
                            <br>
                            <li>3. A test proposed by one of the Founding Fathers of AI, an English mathematician, to determine whether a machine can approach human intelligence.</li>
                            <br>
                            <li>5. A lifelike humanoid robot developed by Hanson Robotics that uses AI to imitate human expressions and interact with people</li>
                            <br>
                            <li>8. Sentient computer on board the spacecraft Discovery One in the movie "2001: A Space Odyssey" known for its calm voice and eerie intelligence.</li>
                            <br>
                            <li>9. A systematic unfairness in AI algorithms, resulting in preferential treatment of certain groups over others.</li>
                            <br>
                            <li>11. The abbreviated term for the AI field focused on understanding and generating human language.</li>
                        </ul>
                        
                    </div>
                    <div class="row hint">
                        <div class="col-md-4">
                            <div class="button-wrapper">
                                <button id="revealButton" class="btn btn-primary mt-3">REVEAL A WORD</button>
                            </div>
                            
                            <!-- TODO: Timer for the button to avoid spamming -->
    
                            <button id="EndButton" class="btn btn-primary mt-3">End Level</button>
                            
                            
                        </div>
    
                        <div class="col-md-8">
                            <p id="revealText" class="mt-2"></p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="scripts.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("clickheretobegin").addEventListener('click', function(event) {
                document.querySelector(".cutscene").classList.add("hidden");
                document.querySelector(".level").classList.remove("hidden");
            }, { once: true });
        });
    </script>
</body>
</html>
