<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovate with AI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/innovate-styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images/modulelogo.png" alt="Logo" class="logo">
                </a>
                <div class="title">
                    <h1>04</h1>
                    <h1>INNOVATE WITH AI</h1>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/playerinfo">
                                <img src="<%= user.playerAvatar %>" alt="Icon" class="icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="tabs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <button class="button button-active" data-id="1">Step 1: Identify a Problem</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="2">Step 2: Devise a Solution</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="3">Step 3: Explore Alpaca</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="4">Step 4: Prompt Engineering</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="5">Step 5: Transform an Image</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="6">Step 6: Submit your Idea</button>
                </div>
            </div>
        </div>
    </section>

    <section class="content">

        <div id="content-1" class="container-fluid">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>Imagine an educational system designed to perfection. A system that understands and caters to student needs, and delivers information in the most engaging and effective manner. What would such a system look like? <br> <br>

                                        On the right, we have listed several themes that relate to classrooms in general. Pick a theme of your choice and identify a problem area to work on. <br><br>
                                        
                                        Note: Some areas within each theme have already been identified. You are free to use one of them, or come up with your own.</p>
                                </div>
                            </div>   
                        </div>
                    </div>

                    <div class="playerinput">
                        <input type="text" id="step-1-input" class="form-control" placeholder="Provide a tentative description of the problem that you identified.">
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span>▶</span> Personalized Learning
                                    </button>
                                </h2>
                            </div>
        
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>• How can educational content be tailored to fit the unique needs and preferences of each student?</p>
                                    <p>• What kind of personalized recommendations or guidance could enhance a student's learning journey?</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        <span>▶</span> Classroom Management
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can teachers streamline administrative tasks and focus more on teaching</p>
                                  <p>• 
                         How can we enhance classroom organization and improve student-teacher interactions</p>
                                  <p>• 
                         How can we provide real-time responses to student queries within classrooms</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        <span>▶</span> Accessibility and Inclusivity
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can educational resources be made more accessible to students with disabilities</p>
                                  <p>• 
                         What can we bridge language barriers in multicultural classrooms</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        <span>▶</span> Engagement and Motivation
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we gamify the learning process to increase student engagement and motivation</p>
                                  <p>• 
                         How can we provide real-time feedback and encouragement to keep students motivated</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading5">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <span>▶</span> Assessment and Feedback
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we provide more personalized and constructive feedback on student work</p>
                                  <p>• 
                         How can we offer alternative forms of assessment beyond traditional exams</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading6">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        <span>▶</span> Exam Preparation
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can students prepare for quizzes and exams better</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading7">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                        <span>▶</span> Professional Development
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we areas where teachers need further training and provide personalized professional development plans</p>
                                  <p>• 
                         How can we support continuous learning and skill development for educators</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading8">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        <span>▶</span> Collaboration and Communication
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we facilitate better collaboration among students, teachers, and parents</p>
                                  <p>• 
                         How can we enhance communication and ensure all stakeholders are informed and engaged</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading9">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                        <span>▶</span> Mental Health and Well-being
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can AI monitor and support the mental health and well-being of students</p>
                                  <p>• 
                         How can we provide stress relief and mindfulness resources to students</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading10">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                        <span>▶</span> Curriculum Development
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we assist in creating dynamic curricula that adapt to the evolving needs of students and the job market</p>
                                  <p>• 
                         How can we help educators design interdisciplinary courses that integrate multiple subjects</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading11">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                        <span>▶</span> Learning Analytics
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we analyze learning patterns to identify at-risk students and provide early interventions</p>
                                  <p>• 
                         How can we provide data insights that can help educators understand and improve student performance</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading12">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                        <span>▶</span> Ethical Considerations
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we ensure fairness and avoid bias in educational assessments and recommendations</p>
                                  <p>• 
                         What ethical guidelines should be considered when implementing AI in education</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading13">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                        <span>▶</span> Virtual Learning Environments
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we create immersive virtual learning environments that simulate real-world experiences</p>
                                  <p>• 
                         How can we enhance remote learning and make it more effective</p>
                                </div>
                            </div>
                         </div>
                         <div class="card">
                            <div class="card-header" id="heading14">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                        <span>▶</span> Data Privacy and Security
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>• 
                         How can we protect student data and ensure privacy in educational applications</p>
                                  <p>• 
                         What measures can be taken to secure educational platforms from cyber threats</p>
                                </div>
                            </div>
                         </div>
                    </div>

                    <div class="submit-button">
                        <button id="step-1-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="content-2" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>The origin of any grand invention is always an idea. <br><br>

                                        Ideas are shaped into solutions when we make observations, talk to people, search the internet, or even use AI tools such as Chat GPT. <br><br>
                                        
                                        For the problem that you previously identified, brainstorm ideas that help solve it. They can be ones that already exist, or those that you came up with. <br><br>
                                        
                                        Finally, shortlist the best idea and create a hand-drawn sketch that visualizes it. </p>
                                </div>
                            </div>   
                        </div>
                    </div>

                </div>
                
                <div class="col-md-6 right-section">
                    <div class="playerinput">
                        <h2>Brainstorming Ideas</h2>
                        <textarea id="step-2-input" class="form-control" placeholder="List all of your ideas here"></textarea>
                    </div>

                    <div class="submit-button">
                        <button id="step-2-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="content-3" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>Alpaca is an AI-powered canvas for digital artists that instantly stylizes and renders early concept sketches. <br><br>

                                        It can help generate images from scratch, or convert an idea sketch to a finished artistic image through the use of text prompts. <br><br> 
                                        
                                        Sign up to Alpaca for free and start creating your own images using AI!</p>

                                    <div class="btn-container">
                                        <a href="https://www.alpacaml.com/" target="_blank" class="btn btn-primary">Go to Website</a>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/h1lPhbIqVys" title="Alpaca Tutorial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="submit-button">
                        <button id="step-3-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="content-4" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>Prompt engineering refers to constructing a series of text and keywords that can help an AI model understand what to do. Prompt engineering is often a process of trial and error. <br><br>

                                        To generate an effective image using AI , the prompt should have the following structure: <br><br>
                                        
                                        a [medium] of [subject], in the style of [style reference],  [perspective], [emphasis], [modifiers]</p>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <div class="accordion" id="accordion4">
                        <div class="card">
                            <div class="card-header" id="heading4-1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4-1" aria-expanded="true" aria-controls="collapse4-1">
                                        <span>▶</span> Medium
                                    </button>
                                </h2>
                            </div>
        
                            <div id="collapse4-1" class="collapse show" aria-labelledby="heading4-1" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>The type of image to create:</p>
                                    <p>1. Illustration</p>
                                    <p>2. 3D render</p>
                                    <p>3. Water color painting</p>
                                    <p>4. Digital painting</p>
                                    <p>5. Oil painting</p>
                                    <p>6. Woodblock painting</p>
                                    <p>You can come up with your own types as well.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4-2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4-2" aria-expanded="false" aria-controls="collapse4-2">
                                        <span>▶</span> Subject
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4-2" class="collapse" aria-labelledby="heading4-2" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>The main character or object within the image:</p>
                                    <p>1. Purdue University</p>
                                    <p>2. Castle</p>
                                    <p>3. Japanese bonsai tree</p>
                                    <p>4. Student</p>
                                    <p>5. Alien spaceship</p>
                                    <p>6. Ancient ruins</p>
                                    <p>7. Cozy alleyway</p>
                                    <p>You can come up with your own subjects as well</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4-3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4-3" aria-expanded="false" aria-controls="collapse4-3">
                                        <span>▶</span> Style Reference
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4-3" class="collapse" aria-labelledby="heading4-3" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>The artistic Style you want to follow:</p>
                                    <p>1. AAA game art/concept art</p>
                                    <p>2. Van Gogh, Wes Anderson</p>
                                    <p>3. Pixel art</p>
                                    <p>4. Street photography</p>
                                    <p>5. Futuristic, sci-fi</p>
                                    <p>6. Linocut, linework, simple lines</p>
                                    <p>7. 90s anime, manga</p>
                                    <p>8. Post apocalyptic</p>
                                    <p>You can come up with your own style as well</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4-4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4-4" aria-expanded="false" aria-controls="collapse4-4">
                                        <span>▶</span> Modifiers
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4-4" class="collapse" aria-labelledby="heading4-4" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>Additional touch-ups on the image, to enhance quality:</p>
                                    <p>1. 8k, HD</p>
                                    <p>2. masterpiece, beautiful</p>
                                    <p>3. majestic, awe-inspiring</p>
                                    <p>4. calm, serene</p>
                                    <p>5. high-contrast</p>
                                    <p>6. intricate, insane detail</p>
                                    <p>You can specify additional details as well</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4-5">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4-5" aria-expanded="false" aria-controls="collapse4-5">
                                        <span>▶</span> Perspective (optional)
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4-5" class="collapse" aria-labelledby="heading4-5" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>The camera angle for the image:</p>
                                    <p>1. aerial view</p>
                                    <p>2. isometric perspective</p>
                                    <p>3. close-up view</p>
                                    <p>4. side-profile</p>
                                    <p>5. interior view</p>
                                    <p>6. exterior view</p>
                                    <p>7. portrait</p>
                                    <p>You can come up with your own perspective as well.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4-6">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4-6" aria-expanded="false" aria-controls="collapse4-6">
                                        <span>▶</span> Emphasis
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4-6" class="collapse" aria-labelledby="heading4-6" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>Additional specific details that you want to achieve:</p>
                                    <p>1. ornate details, dynamic brushwork</p>
                                    <p>2. columns, pillars, and stonework</p>
                                    <p>3. foliage, flowers, and vines</p>
                                    <p>4. white panels, sleek design</p>
                                    <p>5. sunset colors, golden lighting</p>
                                    <p>6. overgrown, crumbling, decrepit</p>
                                    <p>7. blue ink, grainy paper</p>
                                    <p>You can specify any type of details that you want.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-button btn-container">
                        <button id="step-4-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div id="content-5" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>Sketch your final idea on a sheet of paper, and use it as a base image. To transform or edit an image on Alpaca:</p>
                                    <p>1. Upload the base image in the left panel.</p>
                                    <p>2. Adjust parameters. You can choose from the various ‘Presets’ which are in order of increasing creativity.</p>
                                    <p>3. The ‘Change’ parameter controls how much the image is processed (or rendered). The higher the value, the more edited it would look.</p>
                                    <p>4. The ‘Freedom’ parameter controls how creative the AI model can be. The higher the value, the more creative it will be, but would resemble less like the base image.</p>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <iframe style="padding: 1% 0;" width="100%" height="520px" src="https://www.youtube.com/embed/ZfJFj18PWe4" title="Sketch to Design with Alpaca" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="submit-button">
                        <button id="step-5-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="content-6" class="container-fluid hidden">
            <div class="row">
                <div class="col-8">
                    <h2 class="text-left" style="padding-left: 4.5%;">Submit your Idea</h2>
                </div>
                <div class="col-4 text-right" style="padding-right: 2.5%;">
                    <button id="viewSampleButton" class="btn btn-outline-warning">VIEW SAMPLE</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="form-group">
                        <label for="context">Submission Title
                        </label>
                        <textarea class="form-control" id="context" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="problemDefinition">Problem Definition</label>
                        <textarea class="form-control" id="problemDefinition" rows="3"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="proposedSolution">Proposed Solution</label>
                        <textarea class="form-control" id="proposedSolution" rows="3"></textarea>
                    </div>
                </div>
        
                <div class="col-md-6 right-section">
                    <div class="form-group">
                        <label for="alpacaPrompt">Alpaca Prompt <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Describe the problem you're trying to solve."></i></label>
                        <textarea class="form-control" id="alpacaPrompt" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="sideBySideImage" style="margin-top: 1.5%;">Side-by-Side AI Image <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Describe the problem you're trying to solve."></i></label>
                        <div class="container img-container">
                            <img class="sampleImg hidden" src="/images/alpacaImg.png" alt="">
                            <input type="file" id="playerImage" name="playerImage" accept="image/*">
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" style="padding-left: 4%;">
                    <button id="backButton" class="btn btn-outline-warning float-left">BACK</button>
                </div>
                <div class="col-md-4" style="text-align: center; padding-top: 1%;">
                    <small class="footer">Top 10 ideas chosen by a panel of judges will receive swags from Purdue Online!</small>
                </div>
                <div class="col-md-4" style="padding-right: 2.5%;">
                    <button id="step-6-submit" class="btn btn-warning float-right">SUBMIT</button>
                </div>
            </div>
        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        let activeButtonId = 1;
        let sampleActive = false;

        function setActive(button) {
            var buttons = document.querySelectorAll('.button');
            buttons.forEach(function(btn) {
                btn.classList.remove('button-active');
            });

            button.classList.add('button-active');

            activeButtonId = button.getAttribute('data-id');

            var contents = document.querySelectorAll('.content .container-fluid');
            contents.forEach(function(content) {
                content.classList.add('hidden');
            });

            var activeContent = document.getElementById('content-' + activeButtonId);
            if (activeContent) {
                activeContent.classList.remove('hidden');
            }
        }

        document.querySelectorAll('.button').forEach(button => {
            button.addEventListener('click', function() {
                setActive(this);
            });
        });

        document.getElementById('step-1-submit').addEventListener('click', function() {
            const playerInput = document.getElementById('step-1-input').value;

            fetch('/innovate/step1', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ playerInput: playerInput })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                document.querySelector('button[data-id="2"]').click();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });

        document.getElementById('step-2-submit').addEventListener('click', function() {
            const playerInput = document.getElementById('step-2-input').value;

            fetch('/innovate/step2', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ playerInput: playerInput })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                document.querySelector('button[data-id="3"]').click();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });

        document.getElementById('step-3-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="4"]').click();
        });

        document.getElementById('step-4-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="5"]').click();
        });

        document.getElementById('step-5-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="6"]').click();
        });

        document.getElementById('step-6-submit').addEventListener('click', function() {
            const problemDefinition = document.getElementById('problemDefinition').value;
            const context = document.getElementById('context').value;
            const proposedSolution = document.getElementById('proposedSolution').value;
            const alpacaPrompt = document.getElementById('alpacaPrompt').value;
            const playerImage = document.getElementById('playerImage').files[0];

            const formData = new FormData();
            formData.append('problemDefinition', problemDefinition);
            formData.append('context', context);
            formData.append('proposedSolution', proposedSolution);
            formData.append('alpacaPrompt', alpacaPrompt);
            formData.append('playerImage', playerImage);


            fetch('/innovate/step6', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.href = '/levels';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });

        document.getElementById('viewSampleButton').addEventListener('click', function() {

            if (sampleActive) {
                document.getElementById('problemDefinition').placeholder = "";
                document.getElementById('context').placeholder = "";
                document.getElementById('proposedSolution').placeholder = "";
                document.getElementById('alpacaPrompt').placeholder =""; 
                document.getElementById('playerImage').classList.remove('hidden');
                document.querySelector('.sampleImg').classList.add('hidden');
                document.querySelector('.img-container').style.padding = "10.5% 0";
                document.getElementById('viewSampleButton').textContent = "View Sample";

                sampleActive = false
            } else {
                document.getElementById('problemDefinition').placeholder = "Students need to mark their attendance at the start of the class but they often forget to. How can we automate the entire process.";
                document.getElementById('context').placeholder = "Classes that require an attendance";
                document.getElementById('proposedSolution').placeholder = "Students scan their unique QR codes using an attendance app on their smartphones or a classroom device upon entering the class. The app records attendance automatically and updates the digital attendance sheet in real-time. ";
                document.getElementById('alpacaPrompt').placeholder ="Students need to mark their attendance at the start of the class but they often forget to. How can we automate the entire process.";

                document.getElementById('playerImage').classList.add('hidden');
                document.querySelector('.sampleImg').classList.remove('hidden');
                document.querySelector('.img-container').style.padding = "2%";
                document.getElementById('viewSampleButton').textContent = "Hide Sample";

                sampleActive = true
            }
        });

    </script>

    
    
</body>
</html>
