<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login-styles.css">
</head>
<body>

    <div class="container-fluid">
        <div class="logo-container">
            <h1>JOIN THE GAME</h1>
        </div>
    </div>

    <div class="container">
        <h1 class="mt-5">LOG IN</h1>
        <h2>Become a player to join the hunt, gather collectables, and get a chance to win amazing prizes.  </h2>
        <div class="text-center mt-4 google-btn-wrapper">
            <a href="/auth/google" class="google-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo" width="20">
                Sign in with Google
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
