<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovate with AI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/reimagine2-styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images/modulelogo.png" alt="Logo" class="logo">
                </a>
                <div class="title">
                    <h1>05</h1>
                    <h1>REIMAGINE PURDUE</h1>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/playerinfo">
                                <img src="<%= user.playerAvatar %>" alt="Icon" class="icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="tabs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <button class="button button-active" data-id="1">Step 1: The Challenge</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="2">Step 2: Explore Alpaca</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="3">Step 3: Prompt Engineering</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="4">Step 4: Transforming Image</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="5">Step 5: Submit Image</button>
                </div>
            </div>
        </div>
    </section>

    <section class="content">

        <div id="content-1" class="container-fluid">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>AI can not only generate images but also transform them into unbelievable edits, allowing us to travel into the past and the future. Let’s unleash your creativity and journey to the future. <br><br>

                                        How would you imagine a Purdue campus in 2050? Would it feature sophisticated humanoid robots straight out of a sci-fi movie, or would be hit by a deadly apocalypse? Or maybe built like a fortified castle, or underwater? <br><br>
                                        
                                        We leave this up to you. Work on a base image of a building at Purdue and recreate it using AI. Explore artistic styles and themes using Alpaca, be creative with you thoughts and Reimagine Purdue in 2050!</p>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <div class="base-img-section">
                        <h1>Choose a Base Image</h1>
                        <h2>Browse our curated photo repository of landmarks around the campus and use it as a base image</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/dudley.jpeg" alt="">
                                <p class="text-center"><u>Dudley Hall</u></p>
                            </div>
                            <div class="col-md-4">
                                <img src="/images/pmu.png" alt="">
                                <p class="text-center"><u>Dudley Hall</u></p>
                            </div>
                            <div class="col-md-4">
                                <img src="/images/corec.jpeg" alt="">
                                <p class="text-center"><u>Dudley Hall</u></p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="step-1-explore" class="btn btn-primary">Explore All</button>
                        </div>
                        <div class="text-center">
                            <small><b>Note: </b>You are free to take your own photos and use them as base images</small>
                        </div>
                        
                    </div>

                    <div class="submit-button">
                        <button id="step-1-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div id="content-2" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>Alpaca is an AI-powered canvas for digital artists that instantly stylizes and renders early concept sketches. <br><br>

                                        It can help generate images from scratch, or convert an idea sketch to a finished artistic image through the use of text prompts. <br><br> 
                                        
                                        Sign up to Alpaca for free and start creating your own images using AI!</p>

                                    <div class="btn-container">
                                        <a href="https://www.alpacaml.com/" target="_blank" class="btn btn-primary">Go to Website</a>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/FoqsZ0Kq-Sk" title="Try Not To Laugh 🤣 New Funny Cats Video 😹 - MeowFunny Par 33" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <div class="submit-button">
                        <button id="step-2-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="content-3" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>To generate an effective image using AI , the prompt should have the following structure: <br><br>

                                        a [medium] of [subject], in the style of [style reference],  [perspective], [emphasis], [modifiers] <br><br>
                                        
                                        Explore a list of curated prompts and their AI generations  where we used various artistic styles. Notice how different keywords will alter the style of the output drastically.</p>

                                        <div class="btn-container">
                                            <button id="step-3-explore" class="btn btn-primary">View Examples</button>
                                        </div>
                                </div>
                                
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <div class="accordion" id="accordion4">
                        <div class="card">
                            <div class="card-header" id="heading4-1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4-1" aria-expanded="true" aria-controls="collapse4-1">
                                        <span>▼</span> Medium
                                    </button>
                                </h2>
                            </div>
        
                            <div id="collapse4-1" class="collapse show" aria-labelledby="heading4-1" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>The type of image to create:</p>
                                    <p>1. Illustration</p>
                                    <p>2. 3D render</p>
                                    <p>3. Water color painting</p>
                                    <p>4. Digital painting</p>
                                    <p>5. Oil painting</p>
                                    <p>6. Woodblock painting</p>
                                    <p>You can come up with your own types as well.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4-2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4-2" aria-expanded="false" aria-controls="collapse4-2">
                                        <span>▶</span> Subject
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4-2" class="collapse" aria-labelledby="heading4-2" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>The main character or object within the image:</p>
                                    <p>1. Purdue University</p>
                                    <p>2. Castle</p>
                                    <p>3. Japanese bonsai tree</p>
                                    <p>4. Student</p>
                                    <p>5. Alien spaceship</p>
                                    <p>6. Ancient ruins</p>
                                    <p>7. Cozy alleyway</p>
                                    <p>You can come up with your own subjects as well</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4-3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4-3" aria-expanded="false" aria-controls="collapse4-3">
                                        <span>▶</span> Style Reference
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4-3" class="collapse" aria-labelledby="heading4-3" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>The artistic Style you want to follow:</p>
                                    <p>1. AAA game art/concept art</p>
                                    <p>2. Van Gogh, Wes Anderson</p>
                                    <p>3. Pixel art</p>
                                    <p>4. Street photography</p>
                                    <p>5. Futuristic, sci-fi</p>
                                    <p>6. Linocut, linework, simple lines</p>
                                    <p>7. 90s anime, manga</p>
                                    <p>8. Post apocalyptic</p>
                                    <p>You can come up with your own style as well</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4-4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4-4" aria-expanded="false" aria-controls="collapse4-4">
                                        <span>▶</span> Modifiers
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4-4" class="collapse" aria-labelledby="heading4-4" data-parent="#accordion4">
                                <div class="card-body">
                                    <p>Additional touch-ups on the image, to enhance quality:</p>
                                    <p>1. 8k, HD</p>
                                    <p>2. masterpiece, beautiful</p>
                                    <p>3. majestic, awe-inspiring</p>
                                    <p>4. calm, serene</p>
                                    <p>5. high-contrast</p>
                                    <p>6. intricate, insane detail</p>
                                    <p>You can specify additional details as well</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-button btn-container">
                        <button id="step-3-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="content-4" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/orientationlogo.gif" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>To transform or edit an image on Alpaca:</p>
                                    <p>1. Upload the base image in the left panel.</p>
                                    <p>2. Adjust parameters. The ‘Change’ factor determines the variation between the base and generated image. A value of 40-60 is recommended. Higher values will result in highly varied outputs which might lose the identity of the base image.</p>
                                    <p>3. The ‘Freedom’ factor refers to the creativity that is added by the AI model. While you can try various values, higher values (typically above 70) would mean that the output image differs significantly from the base.</p>
                                    
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/FoqsZ0Kq-Sk" title="Try Not To Laugh 🤣 New Funny Cats Video 😹 - MeowFunny Par 33" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <div class="submit-button">
                        <button id="step-4-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="content-5" class="container-fluid hidden">
            <div class="row">
                <div class="col-8">
                    <h2 class="text-left">Submit your Idea</h2>
                </div>
                <div class="col-4 text-right">
                    <button id="viewSampleButton" class="btn btn-outline-warning">VIEW SAMPLE</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="form-group">
                        <label for="landmark">Name of Landmark</label>
                        <textarea class="form-control" id="landmark" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prompt">Alpaca Prompt <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Describe the problem you're trying to solve."></i></label>
                        <textarea class="form-control" id="context" rows="3"></textarea>
                    </div>
                </div>
        
                <div class="col-md-6 right-section">
                    <div class="form-group">
                        <label for="submission">Submit your Image<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Describe the problem you're trying to solve."></i></label>
                        <textarea class="form-control" id="submission" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button id="backButton" class="btn btn-outline-warning float-left">BACK</button>
                </div>
                <div class="col-6">
                    <button id="step-5-submit" class="btn btn-warning float-right">SUBMIT</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center mt-2">
                    <small class="footer">Top 5 images as voted by the Purdue community will receive exciting swags! </small>
                </div>
            </div>
        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        let activeButtonId = 1;

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function setActive(button) {
            var buttons = document.querySelectorAll('.button');
            buttons.forEach(function(btn) {
                btn.classList.remove('button-active');
            });

            button.classList.add('button-active');

            activeButtonId = button.getAttribute('data-id');

            var contents = document.querySelectorAll('.content .container-fluid');
            contents.forEach(function(content) {
                content.classList.add('hidden');
            });

            var activeContent = document.getElementById('content-' + activeButtonId);
            if (activeContent) {
                activeContent.classList.remove('hidden');
            }
        }

        document.querySelectorAll('.button').forEach(button => {
            button.addEventListener('click', function() {
                setActive(this);
            });
        });

        document.getElementById('step-1-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="2"]').click();
        });
        
        document.getElementById('step-2-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="3"]').click();
        });

        document.getElementById('step-3-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="4"]').click();
        });

        document.getElementById('step-4-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="5"]').click();
        });

        document.getElementById('step-5-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="6"]').click();
        });

    </script>

    
    
</body>
</html>
