<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reimagine Purdue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/reimagine2-styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images/modulelogo.png" alt="Logo" class="logo">
                </a>
                <div class="title">
                    <h1>05</h1>
                    <h1>REIMAGINE PURDUE</h1>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/playerinfo">
                                <img src="<%= user.playerAvatar %>" alt="Icon" class="icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="tabs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <button class="button button-active" data-id="1">Step 1: The Challenge</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="2">Step 2: Explore Leonardo</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="3">Step 3: Prompt Engineering</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="4">Step 4: RealTime Canvas</button>
                </div>

                <div class="col-md-2">
                    <button class="button" data-id="5">Step 5: Submit Image</button>
                </div>
            </div>
        </div>
    </section>

    <section class="content">

        <div id="content-1" class="container-fluid">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/JarvisImg.png" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>AI can do more than just generate images—it can transform them into extraordinary edits, taking us on a journey through time. Ready to unleash your creativity? Imagine the future or time-travel to the past.<br><br>

                                        Imagine the Purdue campus as a journey through time. What do you picture? A campus situated within dreamy hills and lakes, or maybe attacked by humanoid robots from outer space. Perhaps post-apocalyptic. Maybe a high-tech fortress. Or even an underwater haven.   <br><br>
                                        
                                        It's your choice! Begin by choosing a reference image of a Purdue landmark, and use AI to reimagine it. Explore styles and themes within Leonardo.ai, and let your imagination recreate Purdue University.</p>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <div class="base-img-section">
                        <h1>Choose a Base Image</h1>
                        <h2>Browse our curated photo repository of landmarks around the campus and use it as a base image</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/images/dudley.jpeg" alt="">
                                <p class="text-center"><u>Dudley Hall</u></p>
                            </div>
                            <div class="col-md-4">
                                <img src="/images/pmu.png" alt="">
                                <p class="text-center"><u>Dudley Hall</u></p>
                            </div>
                            <div class="col-md-4">
                                <img src="/images/corec.jpeg" alt="">
                                <p class="text-center"><u>Dudley Hall</u></p>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="https://juniper-shadow-796.notion.site/Re-Imagine-Purdue-Repository-100047edf8b5808a9190d175af0844e0" target="_blank" id="step-1-explore" class="btn btn-primary">Explore All</a>
                        </div>
                        <div class="text-center">
                            <small><b>Note: </b>You are free to take your own photos and use them as base images</small>
                        </div>
                        
                    </div>

                    <div class="submit-button">
                        <button id="step-1-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div id="content-2" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/JarvisImg.png" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>Leonardo.ai is a Generative AI platform designed for creators, artists, and designers. It allows users to quickly generate high-quality visuals including concept art, illustrations, and designs, from text-based prompts.  <br><br>

                                        Leonardo.ai simplifies the creative design process, making it easier to transform ideas into detailed and polished visual outputs.  <br><br> 
                                        
                                        Sign up to Leonardo.ai for free and start creating your own AI-based images. </p>

                                    <div class="btn-container">
                                        <a href="https://leonardo.ai/" target="_blank" class="btn btn-primary">Go to Website</a>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <iframe style="padding: 1% 0;" width="100%" height="500px" src="https://www.youtube.com/embed/K2ikNSRqh8E" title="Leonardo.AI Introduction" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <div class="submit-button">
                        <button id="step-2-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="content-3" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/JarvisImg.png" alt="">
                                </div>
                                <div class="col-md-10">
                                    <p>Prompt engineering involves crafting precise text and keywords to guide an AI model in understanding what to generate. It's often a trial-and-error process to get the desired result.<br><br>

                                        For effective image generation, structure your prompt like this:<br>

                                        “A [style] [medium] of a [subject] in a [composition/setting] with [colors/lighting]”<br><br>
                                        
                                        Explore a list of curated prompts and their AI generations  where we used various artistic styles. Notice how different keywords will alter the style of the output drastically.</p>

                                        <div class="btn-container">
                                            <a href="https://juniper-shadow-796.notion.site/Leonardo-ai-Prompt-Examples-86c3f32265b2432194d165e6c1d73346" target="_blank" id="step-3-explore" class="btn btn-primary">View Examples</a>
                                        </div>
                                </div>
                                
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <iframe style="padding: 1% 0;" width="100%" height="560px" src="https://www.youtube.com/embed/KKQDtBLla08" title="Leonardo AI Tips &amp; Tricks | Prompt Structure" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    
                    <div class="submit-button btn-container">
                        <button id="step-3-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="content-4" class="container-fluid hidden">
            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="box-wrapper">
                        <div class="box-design">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="/images/JarvisImg.png" alt="">
                                </div>
                                <div class="col-md-10">
                                    The Realtime Canvas feature on Leonardo.ai is one of our absolute favorites! It allows users to interactively create and edit their designs in real time. Combining the power of AI with manual control, users can adjust, modify, or enhance their creations as they think, bringing their creativity to life! <br><br>
                                    Either start sketching on the canvas from scratch using a brush, or upload your initial sketch or reference image. Use tools within the canvas and text prompts to continuously transform your idea into a final design within minutes.
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 right-section">
                    <iframe style="padding: 1% 0;" width="100%" height="450px" src="https://www.youtube.com/embed/Ad7in0tXs9U" title="Realtime Canvas Tutorial | Leonardo.Ai" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <div class="submit-button">
                        <button id="step-4-submit" class="btn btn-warning">PROCEED</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="content-5" style="color: #FFD977;" class="container-fluid hidden">
            <div class="row">
                <div class="col-8">
                    <h2 class="text-left"><b>Submit your Creation</b></h2>
                </div>
                <div class="col-4 text-right">
                    <button id="viewSampleButton" class="btn btn-outline-warning">VIEW SAMPLE</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 left-section">
                    <div class="form-group">
                        <label for="landmark">Name of Landmark</label>
                        <textarea class="form-control" id="landmark" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="prompt">Final Prompt</label>
                        <textarea class="form-control" id="alpacaPrompt" rows="3"></textarea>
                    </div>
                </div>
        
                <div class="col-md-6 right-section">
                    <div class="form-group">
                        <label for="submission">Submit your Image</label>
                        <div class="container img-container">
                            <img class="sampleImg hidden" src="/images/reimagineSample.png" alt="">
                            <input type="file" id="playerImage" name="playerImage" accept="image/*">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button id="backButton" class="btn btn-outline-warning float-left">BACK</button>
                </div>
                <div class="col-md-4" style="text-align: center; padding-top: 1%;">
                    <small class="footer">Top 5 images as voted by the Purdue community will receive exciting swags by Purdue Online!</small>
                </div>
                <div class="col-md-4">
                    <button id="step-5-submit" class="btn btn-warning float-right">SUBMIT</button>
                </div>
            </div>
        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        let activeButtonId = 1;
        let sampleActive = false;

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function setActive(button) {
            var buttons = document.querySelectorAll('.button');
            buttons.forEach(function(btn) {
                btn.classList.remove('button-active');
            });

            button.classList.add('button-active');

            activeButtonId = button.getAttribute('data-id');

            var contents = document.querySelectorAll('.content .container-fluid');
            contents.forEach(function(content) {
                content.classList.add('hidden');
            });

            var activeContent = document.getElementById('content-' + activeButtonId);
            if (activeContent) {
                activeContent.classList.remove('hidden');
            }
        }

        document.querySelectorAll('.button').forEach(button => {
            button.addEventListener('click', function() {
                setActive(this);
            });
        });

        document.getElementById('step-1-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="2"]').click();
        });
        
        document.getElementById('step-2-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="3"]').click();
        });

        document.getElementById('step-3-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="4"]').click();
        });

        document.getElementById('step-4-submit').addEventListener('click', function() {
            document.querySelector('button[data-id="5"]').click();
        });

        document.getElementById('step-5-submit').addEventListener('click', function() {
            const landmark = document.getElementById('landmark').value;
            const alpacaPrompt = document.getElementById('alpacaPrompt').value;
            const playerImage = document.getElementById('playerImage').files[0];

            const formData = new FormData();
            formData.append('landmark', landmark);
            formData.append('alpacaPrompt', alpacaPrompt);
            formData.append('playerImage', playerImage);


            fetch('/reimagine/step6', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.alert("Your submission has been recorded! We will review it before publishing it live to the Community Section. Thank you.");
                window.location.href = '/chapters';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });

        document.getElementById('viewSampleButton').addEventListener('click', function() {

            if (sampleActive) {
                document.getElementById('landmark').placeholder = "";
                document.getElementById('alpacaPrompt').placeholder =""; 
                document.getElementById('playerImage').classList.remove('hidden');
                document.querySelector('.sampleImg').classList.add('hidden');
                document.querySelector('.img-container').style.padding = "12% 0";
                document.getElementById('viewSampleButton').textContent = "View Sample";

                sampleActive = false
            } else {
                document.getElementById('landmark').placeholder = "Purdue Memorial Union (PMU)";
                document.getElementById('alpacaPrompt').placeholder =" Purdue University within a mountainous area, recreated as a castle in ancient times, snowfall, snow vibes, a river flowing at the bottom with ships floating, like in Game of Thrones, futuristic, HD";

                document.getElementById('playerImage').classList.add('hidden');
                document.querySelector('.sampleImg').classList.remove('hidden');
                document.querySelector('.img-container').style.padding = "2%";
                document.getElementById('viewSampleButton').textContent = "Hide Sample";

                sampleActive = true
            }
        });

    </script>

    
    
</body>
</html>
