<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/search-styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images/modulelogo.png" alt="Logo" class="logo">
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto nav-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">The Search</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/playerinfo">
                                <img src="<%= user.playerAvatar %>" alt="Icon" class="icon">
                            </a>
                        </li>
                        <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Sign in</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section class="infosection">
        <div class="content">
            <h1><br>Dear Boilermaker Community, <br> <br>

                This website has been created to aid in the search for our esteemed Professor Emily Xander, who has been missing for the past few weeks. It contains all the necessary information that may help in locating her whereabouts.<br> <br>
                
                Please continue reading below to learn more about Professor Xander, her groundbreaking work at the Purdue Education with AI Research Lab (PEARL), and the clues discovered in her lab that may provide vital insights into her disappearance.<br> <br>
                
                Your assistance is crucial in unraveling this mystery and bringing our professor back safely. Thank you for your support and vigilance.<br> <br></h1>
        </div>
    </section>

    <section class="clues">
        <div class="container-fluid">
            <h1>TRAIL OF CLUES</h1>
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-4">
                        <p>In searching for Professor Emily Xander, we found intriguing clues in her abandoned lab, PEARL. These clues are key to understanding her disappearance. Visit Room 201 at the Stewart Center to explore the lab and piece together the puzzle. Join Mission Renaissance to help find our beloved professor.</p>
                        <h2>Room 201, Stewart Center</h2>
                        <img src="/images/Search Page - Lab 1.png" alt="" id="mainImage" class="img-fluid main-img">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <img src="/images/Search Page - Lab 2.png" alt="" class="img-fluid h-100" onclick="changeImages(this)">
                        </div>
                        <div class="col-md-12 mb-4">
                            <img src="/images/Search Page - Lab 3.png" alt="" class="img-fluid h-100" onclick="changeImages(this)">
                        </div>
                        <div class="col-md-12">
                            <img src="/images/Search Page - Lab 4.png" alt="" class="img-fluid h-100" onclick="changeImages(this)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="exponent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div id="exponent-carousel" class="carousel slide" data-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <section class="news slide1">
                                    <div class="content">
                                        <img src="/images/Exponent_1.png" alt="" class="img-fluid">
                                    </div>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="news slide2">
                                    <div class="content">
                                        <img src="/images/Exponent_2.png" alt="" class="img-fluid">
                                    </div>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="news slide3">
                                    <div class="content">
                                        <img src="/images/Exponent_3.png" alt="" class="img-fluid">
                                    </div>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="news slide3">
                                    <div class="content">
                                        <img src="/images/Exponent_4.png" alt="" class="img-fluid">
                                    </div>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="news slide3">
                                    <div class="content">
                                        <img src="/images/Exponent_5.png" alt="" class="img-fluid">
                                    </div>
                                </section>
                            </div>
                            <div class="carousel-item">
                                <section class="news slide3">
                                    <div class="content">
                                        <img src="/images/Exponent_6.png" alt="" class="img-fluid">
                                    </div>
                                </section>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#exponent-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#exponent-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="exponent-right">
                        <h1>PEARL LAB</h1>
                        <img src="/images/Search Page - PEARL.png" alt="">
                        <p>The Purdue University AI in Education Research Lab, directed by the visionary Dr. Emily Xander, was at the forefront of integrating artificial intelligence into educational frameworks. Dedicated to advancing the integration of AI in educational settings, the lab focuses on enhancing learning outcomes, personalizing student experiences, and optimizing educational processes. </p>
                        
                        <div class="submit-button btn-container hidden">
                            <button class="btn btn-warning">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container-fluid">
            <h1>Join Mission Renaissance to solve Professor Xander's mystery!</h1>
        </div>
    </section>
    
    
    
    
    
    <script>
        function changeImages(clickedImage) {
            var mainImage = document.getElementById('mainImage');
            
            // Store current main image src
            var currentMainImageSrc = mainImage.src;
            
            // Swap src attributes
            mainImage.src = clickedImage.src;
            clickedImage.src = currentMainImageSrc;
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.submit-button').addEventListener('click', function() {

                window.location.href = "/lab";

            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
