body {
    background: rgb(11,1,33);
    background: linear-gradient(0deg, rgba(11,1,33,1) 0%, rgba(41,14,79,1) 100%);
    color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: transparent;
}

.title h1{
    font-size: 1.5em;
    color: transparent; /* Text color transparent for the hollow effect */
    -webkit-text-stroke: 1px #ffcc00; /* Gold-like color for the number */
    font-weight: bold;
}

.navbar-nav a {
    font-size: 1.5rem;
}

.navbar img {
    width: 60px;
    height: auto;
}
.navbar-nav .nav-item .nav-link {
    color: #f0ad4e;
}
.navbar-nav .nav-item .nav-link:hover {
    color: white;
}
.navbar-nav .nav-item .active .nav-link {
    color: white;
}
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.crossword-container {
    padding-top: 2%;
}

.crossword {
    display: grid;
    grid-template-columns: repeat(22, 1fr); /* Adjust grid size as needed */
    gap: 5px;
    margin: 20px;
}

.crossword input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    background-color: #c79be9;
    color: rgb(0, 0, 0);
    border: 1px solid #ffcc00;
}

.crossword input.correct {
    background-color: green;
}

.clues {
    max-height: 70vh;
    overflow-y: scroll;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px #c79be9;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #1a1a2e; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #aa6fdf; 
    border-radius: 10px; 
    border: 2px solid #1a1a2e; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #944fcb; 
}

h4 {
    color: #ffcc00;
}

li {
    list-style-type: none;
}

.hint {
    margin-top: 6% !important;
}

#revealButton {
    background-color: transparent;
    border: 2px solid #9172E7;
    color: #ffcc00;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#revealButton:hover {
    background-color: #9172E7;
    color: #fff;
}

#revealText {
    color: #ffcc00;
    /* TODO: Center the text element */
}
