html, body {
    background: rgb(11,1,33);
    background: linear-gradient(0deg, rgba(11,1,33,1) 0%, rgba(41,14,79,1) 100%);
    background-repeat: no-repeat;
    background-color: #0B0121;
    color: #FFD977;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0.5%;
    height: 100%;
}

.hidden {
    display: none !important;
}

img{
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}

.navbar {
    background-color: transparent;
}

.title h1{
    font-size: 1.5em;
    color: transparent; /* Text color transparent for the hollow effect */
    -webkit-text-stroke: 1px #ffcc00; /* Gold-like color for the number */
    font-weight: bold;
}

.navbar-nav a {
    font-size: 1.5rem;
}

.navbar img {
    width: 60px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    color: #f0ad4e;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.navbar-nav .nav-item .active .nav-link {
    color: white;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content .container-fluid {
    padding: 2% 4% 2% 4%;
}

#content-1 h1{
    padding: 2% 0;
}

#content-1 .images{
    padding: 2% 12%;
}

#content-1 .message-section{
    padding: 2% 12%;
    padding-bottom: 1%;
}

#content-1 .heading {
    background-color: #57359B;
    width: 16%;
    text-align: center;
    padding: 1%;
    font-size: 1.2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

#content-1 .message{
    background-color: #DEC5FF;
    color: black;
    padding: 4% 2% 4% 2%;
    font-size: 1.2rem;
    border-radius: 10px;
    border-top-left-radius: 0;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.submit-button button {
    background-color: #ffd977;
    color: #452e68;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
    align-self: flex-end; 
    clip-path: polygon(100% 0, 100% 56%, 87% 100%, 0 100%, 0 0);
    border-radius: 0;
}

.submit-button{
    margin: 2%;
}