html, body {
    background: rgb(11,1,33);
    background: linear-gradient(0deg, rgba(11,1,33,1) 0%, rgba(41,14,79,1) 100%);
    background-repeat: no-repeat;
    background-color: #0B0121;
    color: #FFD977;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0.5%;
    height: 100%;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #1a1a2e; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #aa6fdf; 
  border-radius: 10px; 
  border: 2px solid #1a1a2e; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #944fcb; 
}

.hidden {
    display: none !important;
}

img{
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}

.navbar {
    background-color: transparent;
}

.title h1{
    font-size: 1.5em;
    font-family: Library;
    color: #FFD977;
}

.navbar-nav a {
    font-size: 1.5rem;
}

.navbar img {
    width: 60px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    color: #f0ad4e;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.navbar-nav .nav-item .active .nav-link {
    color: white;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.question-wrapper {
    padding: 2%;
    clip-path: polygon(
        0% 0%,                 /* Top left corner */
        100% 0%,               /* Top right corner */
        100% 100%,             /* Right side, slightly above bottom right */
        calc(100% - 42px) 100%,/* Bottom right corner, inset */
        25% 100%,              /* Bottom edge, before left angle */
        20% calc(100% - 42px), /* Bottom left angled corner */
        0% calc(100% - 42px)   /* Left edge, up to the angled part */
    );
    filter: drop-shadow(0 0 10px #ffd977);
}

.question {
    box-shadow: 0 0 10px 2px #ffd977;
    padding: 2%;
    border-radius: 16px;
    background-color: #452e68;
    padding-bottom: 8%;
    margin: 4% 0;
    clip-path: polygon(
        0% 0%,                 /* Top left corner */
        100% 0%,               /* Top right corner */
        100% 100%,             /* Right side, slightly above bottom right */
        calc(100% - 42px) 100%,/* Bottom right corner, inset */
        25% 100%,              /* Bottom edge, before left angle */
        20% calc(100% - 42px), /* Bottom left angled corner */
        0% calc(100% - 42px)   /* Left edge, up to the angled part */
    );
}

.box-design {
    box-shadow: 0 0 10px 2px #ffd977;
    padding: 4%;
    padding-bottom: 8%;
    padding-left: 0;
    background-color: #452e68;
    border-radius: 6%;
    margin: 4% 0;
    clip-path: polygon(
        0% 0%,                 /* Top left corner */
        100% 0%,               /* Top right corner */
        100% 100%,             /* Right side, slightly above bottom right */
        calc(100% - 42px) 100%,/* Bottom right corner, inset */
        25% 100%,              /* Bottom edge, before left angle */
        20% calc(100% - 42px), /* Bottom left angled corner */
        0% calc(100% - 42px)   /* Left edge, up to the angled part */
    );
}

.question img{
    width: 100%;
}

.col-md-2 img{
    width: 100%;
}

.question h1 {
    font-size: 1.2rem;
    color: #f5d08b;
}

.question .col-md-2{
    padding: 0;
}

.col-md-10{
    display: flex;
    justify-content: left;
    align-items: center;
}

.hidden {
    display: none !important;
}

.answer {
    color: #f5d08b;
    padding: 2%;
    background-color: #694f93;
    border-radius: 10px;
    font-size: 1.2rem;
}

.answer:hover {
    box-shadow: 0 0 10px 0.5px #c79be9;
}

.selected {
    box-shadow: 0 0 10px 0.5px #ffd977 !important;
}

.player-choice {
    box-shadow: 0 0 10px 2px #c79be9;
    padding: 2%;
    padding-left: 0;
    background-color: #452e68;
    margin: 4% 0;
    text-align: right;
    width: 50%;
    align-self: flex-end; /* Aligns the playerChoice to the right */
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.submit-button button {
    background-color: #ffd977;
    color: #452e68;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
    align-self: flex-end; 
    clip-path: polygon(100% 0, 100% 56%, 87% 100%, 0 100%, 0 0);
    border-radius: 0;
}

.submit-button{
    margin: 2%;
}

.carousel-control-next-icon {
    background-image: url('/images/recognition/Icon - Arrow R.png');
    width: 60px;
    height: 60px !important;
}

.carousel-control-next {
    padding-left: 4% !important;
    background-color: transparent !important;
    border: 0;
}

.carousel-control-prev-icon {
    background-image: url('/images/recognition/Icon - Arrow L.png');
    width: 60px;
    height: 60px !important;
}

.carousel-control-prev {
    padding-right: 4% !important;
    background-color: transparent !important;
    border: 0;
}

.carousel img{
    width: 75%;
}

.intro-section h1{
    font-size: 3rem;
    font-family: Library;
    color: #FFD977;
    text-align: center;
}

.intro-section .container-fluid {
    padding: 0 8%;
}

.content {
    margin-top: 1%;
}

.end-screen {
    text-align: center;
}

.end-img img {
    width: 20%;
}

.end-text {
    padding: 4% 8%;
    padding-bottom: 1%;
    font-size: 1.2rem;
    align-items: center;
}

.end-text img {
    width: 80%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.submit-button a {
    background-color: #ffd977;
    color: #452e68;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
    align-self: flex-end; 
    clip-path: polygon(100% 0, 100% 56%, 87% 100%, 0 100%, 0 0);
    border-radius: 0;
    font-family: Lexend;
}

.submit-button{
    margin: 2%;
}

button {
    font-family: Montserrat;
    margin-bottom: 2%;
}

#badgeName {
    font-family: Library;
    color: #FFD977;
    font-size: 3rem;
}