body {
    font-family: 'Roboto', sans-serif;
    padding: 0% 10%;
}

h1 {
    margin: 4% 0;
}

.header {
    text-align: center;
    margin: 20px;
    position: relative;
}

.header h1 {
    color: #E94E77;
}

.header p {
    color: #545E75;
}

.logo-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-image {
    height: 50px;
    width: 50px;
}

.logo-text {
    font-size: 2rem;
    color: #545E75;
    margin-left: 10px;
}

.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.container {
    margin-top: 4%;
}

.key-projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 18rem;
    margin: 2%;
    transition: transform 0.3s ease;
    overflow: hidden;
    box-shadow: 0 0 5px 2px black;
    z-index: 1;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
    /* transform: scale(2); */
    box-shadow: 0 0 20px black;
    z-index: 10;
}

.card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

.card:hover .card-text {
    display: none;
}

.card:hover .hover-text {
    display: block;
}

.hover-text {
    display: none;
}

.focusarea h2 {
    font-size: 1.5rem;
}

.focusarea .row {
    margin-bottom: 4%;
}

.focusarea img {
    width: 100%;
}

.xander .container {
    background-color: rgb(165, 165, 252);
    padding: 5%;
}

.xander img {
    width: 100%;
    border-radius: 10px;
}

.xander h2 {
    color: #333;
    margin-bottom: 20px;
}

.xander h4 {
    color: #555;
    margin-top: 20px;
}

.xander p {
    color: #666;
}

.xander li {
    margin-top: 10px;
}