html, body {
    background: rgb(11,1,33);
    background: linear-gradient(0deg, rgba(11,1,33,1) 0%, rgba(41,14,79,1) 100%);
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
}

.navbar {
    background-color: transparent;
    box-shadow: 0 0 0px 2px #c79be9;
    margin-top: 1%;
    margin-bottom: 2px;
    padding-top: 0;
    padding-bottom: 0;
}



.navbar img {
    width: 80px;
    height: auto;
}
.navbar-nav .nav-item .nav-link {
    color: #f0ad4e;
}
.navbar-nav .nav-item .nav-link:hover {
    color: white;
}
.navbar-nav .nav-item .active .nav-link {
    color: white;
}
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav a {
    font-size: 1.5rem;
    margin: 8% 0;
}

.profile .container-fluid {
    background: rgb(11,1,33);
    background: linear-gradient(0deg, rgba(11,1,33,1) 0%, rgba(41,14,79,1) 100%);
}

.left-section{
    box-shadow: 0 0 10px 0.5px #c79be9;
    padding: 2%;
    background-color: #452e68;
    padding-bottom: 4%;
}

.icons {
    color: #ffcc00;
    text-align: left;
    padding: 2%;
}

.icons h1 {
    font-size: 2rem;
    color: transparent; /* Text color transparent for the hollow effect */
    -webkit-text-stroke: 1px #ffcc00; /* Gold-like color for the number */
    font-weight: bold;
}

.icons a {
    font-size: 1.5em;
    color: #ffcc00;
}

.icons img{
    width: 50%;
    margin: 5% 0;
}

.info-section{
    text-align: left;
    padding: 4%;
    color: #f0ad4e;
}

.info-section h1 {
    font-size: 2rem;
    color: transparent; /* Text color transparent for the hollow effect */
    -webkit-text-stroke: 1px #ffcc00; /* Gold-like color for the number */
    font-weight: bold;
}

.info-section h2{
    font-size: 1.5rem;
}

.info-section p {
    color: #9375d3;
}

.locked {
    opacity: 0.5;
}

.completed {
    text-decoration: line-through;
}

.info-section .btn, .info-section .completed-message {
    display: none;
}

.info-section:not(.locked) .btn {
    display: block;
}

.info-section.locked .completed-message {
    display: block;
}

.info-section .completed-message{
    font-size: 3.5rem;
    color: transparent; /* Text color transparent for the hollow effect */
    -webkit-text-stroke: 1px #ffcc00; /* Gold-like color for the number */
    font-weight: bold;
}

.level-number {
    font-size: 8rem;
    color: transparent !important;
    -webkit-text-stroke: 1px #ffcc00; /* Gold-like color for the number */
    font-weight: bold;
}

.unstyled-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.unstyled-button:focus {
    outline: none;
    box-shadow: none;
}

#module-btn {
    background-color: #ffd977;
    color: black;
    font-size: 1.5rem;
    border-radius: 0;
    clip-path: polygon(100% 0, 100% 50%, 93% 100%, 0 100%, 0 0);
}