body {
    background: rgb(11,1,33);
    background: linear-gradient(0deg, rgba(11,1,33,1) 0%, rgba(41,14,79,1) 100%);
    color: white;
    font-family: Arial, sans-serif;
}

body img{
    width: 100%;
}

.navbar {
    background-color: transparent;
    box-shadow: 0 0 0px 2px #c79be9;
    margin-top: 1%;
    padding: 0;
}

.navbar-nav a {
    font-size: 1.5rem;
}

.navbar img {
    width: 80px;
    height: auto;
}
.navbar-nav .nav-item .nav-link {
    color: #ffd977;
}
.navbar-nav .nav-item .nav-link:hover {
    color: white;
}
.navbar-nav .nav-item .active .nav-link {
    color: white;
}
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* .col-md-2 {
    height: 92vh;
} */

.icons {
    background-color: #452e68;
    color: #ffd977;
    box-shadow: 0 0 0px 1px #c79be9;
    text-align: center;
    padding: 8%;
    margin: 5%;
}

.icon-active {
    box-shadow: 0 0 0px 8px #ffd977;
}

.icons h1 {
    font-size: 1.5em;
}

.icons a {
    font-size: 1.5em;
    color: #ffd977;
}

.icons img{
    width: 50%;
    margin: 5% 0;
}

.newplayer img{
    width: 20% !important;
}

.newplayer{
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.info-section{
    text-align: center;
    padding: 4%;
    color: #ffd977;
}

.info-section .container-fluid {
    background-color: #452e68;
    box-shadow: 0 0 10px 4px #c79be9;
    padding-top: 4%;
    padding-bottom: 16%;
    margin-top: 8%;
}

.info-section h1 {
    font-size: 1.5rem;
}

.info-section img {
    width: 50%;
    margin: 4% 0;
    border-radius: 10%;
}

.info-left {
    text-align: left !important;
    padding-left: 10%;
}

.info-left-pre {
    text-align: right !important;
}

.info-right {
    text-align: left !important;
}

.info-bottom {
    background-color: transparent;
    border: 2px solid #DEC5ff;
    color: #DEC5FF;
    font-weight: bold;
    padding: 2% 4%;
    border-radius: 5px;
    margin: 4% 8%;
}

.info-bottom p {
    font-size: 1.2rem;
    text-align: left;
}

.info-bottom a {
    font-weight: bold;
    background-color: #CEAE66;
}

.troop-section {
    text-align: center;
    padding: 4% 0;
    padding-right: 2%;
    color: #ffd977;
}

.troop-section h1{
    margin-bottom: 4%;
    color: transparent;
    -webkit-text-stroke: 1px #ffd977; 
    font-weight: bold;
}

.troop-section p {
    text-align: left;
    font-size: 1.2rem;
}

.troop-section img {
    width: 80%;
    border-radius: 10px;
}

.troop-section .container-fluid {
    box-shadow: 0 0 10px 4px #c79be9;
    background-color: #452e68;
    padding: 4%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 28% 90%, 0 90%);
    padding-bottom: 4%;
    margin: 0;
}

.design-container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 28% 90%, 0 90%);
    filter: drop-shadow(0 0 4px #c79be9);
    padding: 1% 2px;
}

.troop-section h2 {
    text-align: left;
    margin-bottom: 4%;
}