html, body {
    background: rgb(11,1,33);
    background: linear-gradient(0deg, rgba(11,1,33,1) 0%, rgba(41,14,79,1) 100%);
    background-repeat: no-repeat;
    background-color: #0B0121;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0.5%;
    height: 100%;
}

.hidden {
    display: none !important;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #1a1a2e; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #aa6fdf; 
    border-radius: 10px; 
    border: 2px solid #1a1a2e; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #944fcb; 
}

.navbar {
    background-color: transparent;
}

.title h1{
    font-size: 1.8rem;
    color: transparent; /* Text color transparent for the hollow effect */
    -webkit-text-stroke: 1px #ffcc00; /* Gold-like color for the number */
    font-weight: bold;
}

.navbar-nav a {
    font-size: 1.5rem;
}

.navbar img {
    width: 80px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    color: #f0ad4e;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.navbar-nav .nav-item .active .nav-link {
    color: white;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    margin-top: 2%;
}

.button {
    background-color: transparent;
    padding: 16%;
    border-radius: 6px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 10px 0px #FFD977;
    margin: 1px 0;
}

.button-active {
    background-color: #ffd877b9 !important;
}

.button-long {
    padding-top: 80%;
    padding-bottom: 80%;
}

.clue-section {
    background-color: black;
    box-shadow: 0 0 10px 2px #FFD977;
    border-radius: 16px;
    text-align: center;
    padding: 2%;
}

#clue-theme {
    margin: 4% 0;
    width: 100%;
    height: 8%;
    box-shadow: 0 0 0px 1px #FFD977;
    margin: 4% 0;
    border-radius: 24px;
}

#clue-img {
    margin: 4% 0;
    width: 80%;
}

#clue-title {
    width: 100%;
    box-shadow: 0 0 0px 1px #FFD977;
    height: 8%;
    margin: 4% 0;
    border-radius: 24px;
}

#clue-location {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0px 1px #FFD977;
    margin: 4% 0;
    border-radius: 24px;
}

#clue-city {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0px 1px #FFD977;
    margin: 4% 0;
    border-radius: 24px;
}

#clue-date {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0px 1px #FFD977;
    margin: 4% 0;
    border-radius: 24px;
}

.clue-active {
    box-shadow: 0 0 0px 4px #FFD977 !important;
}

.content-section {
    padding: 0 4%;
}

.content-section h1 {
    font-size: 1.5rem;
    color: #FFD977;
}

.laptop {
    position: relative;
    width: 80%; /* Adjust width as per your requirement */
    height: 500px; /* Adjust height to mimic a laptop screen */
    border: 16px solid #000000; /* Gray border */
    border-radius: 20px; /* Rounded corners, less pronounced than the smartphone */
    box-shadow: 0 0 20px #333; /* Darker shadow for a more pronounced effect */
    overflow: hidden; /* Important to hide scrollbars */
    background: #000; /* Black background */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 4%;
}

.laptop-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* Enables vertical scrolling */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #666 #333; /* Firefox */
}

/* Scrollbar styles for Webkit (Chrome, Edge, Safari) */
.laptop-content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.laptop-content::-webkit-scrollbar-track {
    background: #333; /* Scrollbar track color */
}

.laptop-content::-webkit-scrollbar-thumb {
    background-color: #666; /* Scrollbar handle color */
    border-radius: 10px;
    border: 2px solid #333; /* Scrollbar handle border color */
}

.laptop img {
    width: 100%; /* Ensure the image fills the width */
    height: auto; /* Maintain aspect ratio */
}

#laptop-base {
    width: 100%;
    margin-bottom: 4%;
}

input{
    box-shadow: 0 0 0px 2px #8451ca;
    padding: 2% !important;
    background-color: transparent !important;
    color: #FFD977 !important;
    border-radius: 24px !important;
    text-align: center;
    font-size: 1.2rem !important;
}

.content-2-img img {
    margin: 2% 0;
    width: 50%;
}

.content-3-img img {
    width: 25%;
    margin: 2% 0;
}

.mobile {
    position: relative;
    width: 30%; /* Adjust width as per your requirement */
    height: 600px; /* Adjust height to mimic a laptop screen */
    border: 16px solid #000000; /* Gray border */
    border-radius: 20px; /* Rounded corners, less pronounced than the smartphone */
    box-shadow: 0 0 20px #333; /* Darker shadow for a more pronounced effect */
    overflow: hidden; /* Important to hide scrollbars */
    background: #000; /* Black background */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mobile-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* Enables vertical scrolling */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #666 #333; /* Firefox */
}

/* Scrollbar styles for Webkit (Chrome, Edge, Safari) */
.mobile-content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.mobile-content::-webkit-scrollbar-track {
    background: #333; /* Scrollbar track color */
}

.mobile-content::-webkit-scrollbar-thumb {
    background-color: #666; /* Scrollbar handle color */
    border-radius: 10px;
    border: 2px solid #333; /* Scrollbar handle border color */
}

.mobile img {
    width: 100%; /* Ensure the image fills the width */
    height: auto; /* Maintain aspect ratio */
}