body {
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
}

.logo {
    height: 40px;
}

.bg-dark{
    background-color: #000 !important;
}

.navbar-nav a {
    font-size: 1.5rem;
}

.navbar img {
    width: 80px;
    height: auto;
}
.navbar-nav .nav-item .nav-link {
    color: #FFD977;
}
.navbar-nav .nav-item .nav-link:hover {
    color: white;
}
.navbar-nav .nav-item .active .nav-link {
    color: white;
}
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.infosection {
    position: relative;
    text-align: center;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url('/images/Search Page - Header.png') no-repeat center center/cover;
}

.infosection .content {
    position: absolute;
    left: 5%;
    background-color: rgba(247, 247, 247, 0.6);
    padding: 2%;
    padding-left: 4%;
    border-radius: 10px;
    box-shadow: 0 0 30px 0.5px #FFD977;
    width: 50%; /* Set width to 50% of screen width */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure space between elements */
    text-align: left;
}
.infosection h1 {
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
}
.infosection .btn-warning {
    background-color: #FFD977;
    border: none;
    align-self: flex-start; /* Align button to bottom right */
}

.clues h1 {
    color: #FFD977;
    text-align: center;
    margin-bottom: 4%;
}

.clues h2 {
    margin-bottom: 14%;
    color: #FFD977;
}

.clues p {
    margin-bottom: 4%;
    color: #FFD977;
    font-size: 1.5rem;
}

.clues .container-fluid {
    background-color: #31262B;
    box-shadow: 0 0 30px 1px #FFD977;
    padding: 2%;
    padding-top: 4%;
    margin: 4% 0;
}

.clues img {
    width: 100%;
}

.clues img:hover {
    box-shadow: 0 0 10px 2px #FFD977;
}

.clues .main-img {
    box-shadow: 0 0 10px 2px #FFD977;
}

.exponent .container-fluid {
    box-shadow: 0 0 10px 2px #FFD977;
    margin: 4% 0;
}

.slide1 {
    background: url('/images/HomePage - Header 1.png') no-repeat center center/cover;
}

.slide2 {
    background: url('/images/HomePage - Header 2.png') no-repeat center center/cover;
}

.slide3 {
    background: url('/images/HomePage - Header 3.png') no-repeat center center/cover;
}

.exponent .col-md-8 {
    padding: 0%;
} 

.exponent .col-md-4 {
    padding: 0%;
} 

.exponent-right{
    background-color: #31262B;
    padding: 4%;
}

.exponent-right img {
    width: 100%;
    box-shadow: 0 0 10px 2px rgb(230, 230, 205);
    margin-bottom: 4%;
}

.exponent h1 {
    color: #FFD977;
    text-align: center;
    margin-bottom: 4%;
}

.exponent p {
    color: #FFD977;
    font-size: 1.5rem;
}

.footer .container-fluid {
    background-color: white;
    margin-top: 4%;
    padding: 4%;
}

.footer h1 {
    color: black;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.submit-button button {
    background-color: #ffd977;
    color: #452e68;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
    align-self: flex-end; 
    clip-path: polygon(100% 0, 100% 56%, 87% 100%, 0 100%, 0 0);
    border-radius: 0;
}

.submit-button{
    margin: 2%;
}